1). Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system' # Creating the variable
with open('test.txt','w') as file:
    file.write(test1)

2). Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [5]:
with open( 'test.txt','r') as file :
    test2 = file.read # Reading file into the variable test2
    
print(test1)
print(test2)

This is a test of the emergency text system
<built-in method read of _io.TextIOWrapper object at 0x000001C2597C7790>

There is difference b/w test1 and test2 , test1 provide the string 'This is a test of the emergency text system' vs test2 read the contents of the test.txt file.

In [6]:
import csv # Importing library

data = [
    ['title', 'author', 'year'],
    ['The Weirdstone of Brisingamen', 'Alan Garner', 1960],
    ['Perdido Street Station', 'China Miéville', 2000],
    ['Thud!', 'Terry Pratchett', 2005],
    ['The Spellman Files', 'Lisa Lutz', 2007],
    ['Small Gods', 'Terry Pratchett', 1992]
] # Adding data to csv file 

with open('books.csv', 'w', newline='') as file: # Opening file in write mode
    writer = csv.writer(file)
    writer.writerows(data)

In [ ]:
Read books.csv and  data The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992into the book table

4). Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [7]:
import sqlite3 # Importing library

conn = sqlite3.connect('books.db')# create a connection to the database
c = conn.cursor()# create a cursor object

c.execute('''CREATE TABLE books
             (title text, author text, year integer)''') # Creating the table

conn.commit()
conn.close()

5). Read books.csv and insert its data into the book table.

In [13]:
import csv , sqlite3 # Importing library

conn = sqlite3.connect('books.db')# create a connection to the database
c = conn.cursor()# create a cursor object

c.execute('''CREATE TABLE books
             (title text, author text, year integer)''') # Creating the table

with open('books.csv', newline='') as file:
    reader = csv.reader(file)
    next(reader)  # skip the header row
    for row in reader:
        # insert the row into the database
        c.execute("INSERT INTO books VALUES ('The Weirdstone of Brisingamen', 'Alan Garner', 1960)", row)

# commit the changes and close the connection
conn.commit()
conn.close()

OperationalError: table books already exists

6). Select and print the title column from the book table in alphabetical order.

7). From the book table, select and print all columns in the order of publication.

8). Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

9). Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

10). Increment the count field of test and print it.